body{
font-family: Georgia;
background:#f9f4f4;
margin:0;
padding:0;
}

header{
background:#d8b4f8;
padding:15px;
text-align:center;
}

.tabs{
text-align:center;
margin:10px;
}

.tabs button{
padding:10px 20px;
margin:5px;
border:none;
background:#c084fc;
color:white;
cursor:pointer;
}

.tab{
display:none;
padding:20px;
}

#bibleText{
height:400px;
overflow-y:scroll;
background:white;
padding:15px;
border:1px solid #ccc;
}

.highlight{
background:yellow;
}

textarea{
width:90%;
height:120px;
}

#loginBox{
padding:15px;
background:#f1e9ff;
text-align:center;
}

button{
border-radius:6px;
}
