body{

font-family: "Segoe UI", sans-serif;

background:#ffe6f1;

color:#444;

margin:0;

text-align:center;

}

header{

background:#ff9fc3;

padding:25px;

color:white;

}

.verse{

font-style:italic;

}

nav{

margin:15px;

}

nav button{

background:#ffb6d5;

border:none;

padding:10px 18px;

margin:5px;

border-radius:20px;

font-size:15px;

}

.section{

display:none;

padding:20px;

}

textarea{

width:80%;

height:120px;

border-radius:10px;

border:1px solid #ccc;

padding:10px;

}

input{

padding:10px;

border-radius:15px;

border:1px solid #ddd;

margin:5px;

}

button{

cursor:pointer;

}

#bookList button{

display:block;

margin:6px auto;

}

#verseList p{

padding:8px;

border-radius:8px;

margin:4px;

}

.highlight{

background:#ffd6f2;

}
